<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jorian-framework</title>
</head>
<body>
    <div style="width: 900px;height: 500px;background-color: #c4e0e4;text-align: center;margin: 240px auto;padding: 60px;">
        <P style="align-content: center;text-align: center">
        <h1>本项目采用前后端分离开发，分别部署</h1>
        <h3>web前端页面预览：</h3>
        <a href="http://jorianye.cn:8088/framework-web" target="_blank">http://jorianye.cn:8088/framework-web</a>
        <br/><h3>web前端工程下载：</h3>
        <a href="http://jorianye.cn:8088/framework-web" target="_blank">http://jorianye.cn:8088/framework-web</a>
        </P>
    </div>

</body>
</html>
